{% extends 'pages/portal_home.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
	
	<!-- PAGE TITLE HERE -->
     {% block title %}
	<title>Update Student</title>
    {% endblock title %}
	
	<!-- FAVICONS ICON -->
    {% block favicon %}
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    <!-- Custom Stylesheet -->
	<link href="{% static 'pages/vendor/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
    <link href="{% static 'pages/css/style.css' %}" rel="stylesheet">
    {% endblock favicon %}
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
   <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
		
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
	
		<!--**********************************
            Chat box End
        ***********************************-->

		
        <!--**********************************
            Header start
        ***********************************-->
      
                    
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
       
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        {% block content_body %}
        <div class="content-body">
            <div class="container-fluid">
			
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Update Student Detail</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <form method="post">
                                        {% csrf_token%}
                                        {{ form|crispy}}
                                        
                                        <button type="submit" name="submit" class="btn btn-primary form-control mt-3" ><h5 style="color:white;">Update Student Profile</h5></button>                                        
                                        </form>
                                        <a href="{% url 'students:student-list' %}"><button class="btn btn-secondary form-control mt-3" ><h5 style="color:red;">Cancel Update</h5></button></a>                  
                                </div>
                            </div>
                        </div>
					</div>
					<div class="col-xl-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <!-- <h2 class="card-title">Instruction</h2> -->
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <h1>How To Update Details</h1>
                                    <p>Hello</p>
                               
                                </div>
                            </div>
                        </div>
					</div>
                                </div>
                            </div>
                        </div>
					</div>
				
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock content_body %}
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
     
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    {% block script %}
    <!-- Required vendors -->
    <script src="{% static 'pages/vendor/global/global.min.js' %}"></script>
	<script src="{% static 'pages/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
	
    <script src="{% static 'pages/js/custom.min.js' %}"></script>
	<script src="{% static 'pages/js/dlabnav-init.js' %}"></script>
	<script src="{% static 'pages/js/demo.js' %}"></script>
    <script src="{% static 'pages/js/styleSwitcher.js' %}"></script>
    {% endblock script %}
</body>
</html>