{% extends 'pages/portal_home.html' %}
{% load static %}

{% block title %}
<title>Help Center | KwikSchools</title>
{% endblock title %}

{% block favicon %}
{{ block.super }}
<link href="{% static 'pages/vendor/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
{% endblock favicon %}

{% block sub-title %}
<ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="{% url 'dashboard' %}" class="fs-14">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="javascript:void(0)" class="fs-14">Help Center</a></li>
</ol>
{% endblock sub-title %}

{% block content_body %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Help</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Center</a></li>
            </ol>
        </div>

        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Student & Parent</h4>
                        <p class="m-0 subtitle">Essential information for Parents and Students</p>
                    </div>
                    <div class="card-body">
                        <div class="accordion accordion-primary" id="accordion-one">
                            
                            <div class="accordion-item">
                                <div class="accordion-header rounded-lg" id="headingOne" data-bs-toggle="collapse" data-bs-target="#collapseOne" role="button" aria-expanded="true">
                                    <span class="accordion-header-text">How To Make Payments On The Portal?</span>
                                    <span class="accordion-header-indicator"></span>
                                </div>
                                <div id="collapseOne" class="collapse show" data-bs-parent="#accordion-one">
                                    <div class="accordion-body-text">
                                        First, make a transfer to the school's designated account. Afterward, login to the portal, navigate to "Payments/Bills" and select "Make Payments" to submit your proof and details.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <div class="accordion-header collapsed rounded-lg" id="headingTwo" data-bs-toggle="collapse" data-bs-target="#collapseTwo" role="button">
                                    <span class="accordion-header-text">How Do I Check My Results?</span>
                                    <span class="accordion-header-indicator"></span>
                                </div>
                                <div id="collapseTwo" class="collapse" data-bs-parent="#accordion-one">
                                    <div class="accordion-body-text">
                                        Results are located under "Exams & Results". You can view, print, or save them as a PDF directly to your device.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <div class="accordion-header collapsed rounded-lg" id="headingThree" data-bs-toggle="collapse" data-bs-target="#collapseThree" role="button">
                                    <span class="accordion-header-text">How Does The E-Learning Work?</span>
                                    <span class="accordion-header-indicator"></span>
                                </div>
                                <div id="collapseThree" class="collapse" data-bs-parent="#accordion-one">
                                    <div class="accordion-body-text">
                                        Access class-specific lessons under the "E-Learning" menu. You can download materials, ask questions, and interact with teachers on the platform.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <div class="accordion-header collapsed rounded-lg" id="headingFour" data-bs-toggle="collapse" data-bs-target="#collapseFour" role="button">
                                    <span class="accordion-header-text">How About CBT?</span>
                                    <span class="accordion-header-indicator"></span>
                                </div>
                                <div id="collapseFour" class="collapse" data-bs-parent="#accordion-one">
                                    <div class="accordion-body-text">
                                        Check the CBT Menu For your available exams. The School notifies you before the examination and send guidelines.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <div class="accordion-header collapsed rounded-lg" id="headingFive" data-bs-toggle="collapse" data-bs-target="#collapseFive" role="button">
                                    <span class="accordion-header-text">How Do I Update My Profile?</span>
                                    <span class="accordion-header-indicator"></span>
                                </div>
                                <div id="collapseFive" class="collapse" data-bs-parent="#accordion-one">
                                    <div class="accordion-body-text">
                                        You can update basic information on your student portal. Use the "My Profile" menu on the left side menu bar to edit appropriately.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Staff & Admin</h4>
                        <p class="m-0 subtitle">Understanding access levels and responsibilities</p>
                    </div>
                    <div class="card-body">
                        <div class="accordion accordion-danger-solid" id="accordion-two">
                            
                            <div class="accordion-item">
                                <div class="accordion-header rounded-lg" id="accord-2One" data-bs-toggle="collapse" data-bs-target="#collapse2One" role="button" aria-expanded="true">
                                    <span class="accordion-header-text">Subject Teacher's Role</span>
                                    <span class="accordion-header-indicator"></span>
                                </div>
                                <div id="collapse2One" class="collapse show" data-bs-parent="#accordion-two">
                                    <div class="accordion-body-text">
                                        Responsible for recording scores for specific assigned subjects and classes,  managing e-learning contents and setting CBT questions.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <div class="accordion-header collapsed rounded-lg" id="accord-2Two" data-bs-toggle="collapse" data-bs-target="#collapse2Two" role="button">
                                    <span class="accordion-header-text">Form Teacher's Role</span>
                                    <span class="accordion-header-indicator"></span>
                                </div>
                                <div id="collapse2Two" class="collapse" data-bs-parent="#accordion-two">
                                    <div class="accordion-body-text">
                                        Form teachers manage a specific class. They handle general attendance, comments on report cards, and oversee the overall academic welfare of students in their arm.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <div class="accordion-header collapsed rounded-lg" id="accord-2Three" data-bs-toggle="collapse" data-bs-target="#collapse2Three" role="button">
                                    <span class="accordion-header-text">Superuser's Role</span>
                                    <span class="accordion-header-indicator"></span>
                                </div>
                                <div id="collapse2Three" class="collapse" data-bs-parent="#accordion-two">
                                    <div class="accordion-body-text">
                                        The Superuser has full administrative access to the portal. This includes managing school settings, academic sessions, financial configurations, and user permissions.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <div class="accordion-header collapsed rounded-lg" id="accord-2Four" data-bs-toggle="collapse" data-bs-target="#collapse2Four" role="button">
                                    <span class="accordion-header-text">Admin/Officer Role</span>
                                    <span class="accordion-header-indicator"></span>
                                </div>
                                <div id="collapse2Four" class="collapse" data-bs-parent="#accordion-two">
                                    <div class="accordion-body-text">
                                        Assists with daily portal management, fee verification, and student registration. They serve as the primary contact for troubleshooting and data entry.
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <div class="accordion-header collapsed rounded-lg" id="accord-2Five" data-bs-toggle="collapse" data-bs-target="#collapse2Five" role="button">
                                    <span class="accordion-header-text">Miscellaneous Roles</span>
                                    <span class="accordion-header-indicator"></span>
                                </div>
                                <div id="collapse2Five" class="collapse" data-bs-parent="#accordion-two">
                                    <div class="accordion-body-text">
                                        Assinged to manage other roles like Hostel supervision, School bus management and route cordinations
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content_body %}

{% block script %}
<script src="{% static 'pages/vendor/global/global.min.js' %}"></script>
<script src="{% static 'pages/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'pages/js/custom.min.js' %}"></script>
<script src="{% static 'pages/js/dlabnav-init.js' %}"></script>
{% endblock script %}