
{% extends 'pages/portal_home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
	<title>Student Enrolment</title>
    {% endblock title %}
	
	
	<!-- FAVICONS ICON -->
    {% block favicon %}
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    <!-- Form step -->
    <link href="{% static 'pages/vendor/jquery-smartwizard/dist/css/smart_wizard.min.css' %}" rel="stylesheet">
    <!-- Custom Stylesheet -->
	<link href="{% static 'pages/vendor/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
    <link href="{% static 'pages/css/style.css' %}" rel="stylesheet">
    {% endblock favicon %}
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
   <div id="preloader">
		<div class="lds-ripple">
			<div></div>
			<div></div>
		</div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
	
        <!--**********************************
            Nav header end
        ***********************************-->
		
		<!--**********************************
            Chat box start
        ***********************************-->
		
		<!--**********************************
            Chat box End
        ***********************************-->

				
        <!--**********************************
            Header start
        ***********************************-->
      
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
                    
                    
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
       
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        {% block content_body %}
        <div class="content-body">
            <div class="container-fluid">
				<div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)">Enrollment Process</a></li>
						<!-- <li class="breadcrumb-item"><a href="javascript:void(0)">Components</a></li> -->
					</ol>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Form step</h4>
                            </div>
                            <div class="card-body">
								<div id="smartwizard" class="form-wizard order-create">
									<ul class="nav nav-wizard">
										<li><a class="nav-link" href="#wizard_Detail"> 
											<span>1</span> 
										</a></li>
										<li><a class="nav-link" href="#wizard_Detail">
											<span>2</span>
										</a></li>
										<li><a class="nav-link" href="#wizard_Detail">
											<span>3</span>
										</a></li>
										<li><a class="nav-link" href="#wizard_Detail">
											<span>4</span>
										</a></li>
									</ul>
									<div class="tab-content">
										<div id="wizard_Detail" class="tab-pane" role="tabpanel">
                                            <div id="wizard_Payment" class="tab-pane" role="tabpanel">
                                                <div class="row emial-setup">
                                                    <div class="col-lg-3 col-sm-6 col-6">
                                                        <div class="mb-3">
                                                            <label for="mailclient11" class="mailclinet mailclinet-gmail">
                                                                <input type="radio" name="emailclient" id="mailclient11">
                                                                <span class="mail-icon">
                                                                    <i class="mdi mdi-office" aria-hidden="true"></i>
                                                                </span>
                                                                <span class="mail-text">New USER</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6 col-6">                                                        
                                                        <div class="mb-3">
                                                            <label for="mailclient12" class="mailclinet mailclinet-office">
                                                                <input type="radio" name="emailclient" id="mailclient12">
                                                                <span class="mail-icon"><a href="">
                                                                    <i class="mdi mdi-office" aria-hidden="true"></i>
                                                                </span>
                                                                <span class="mail-text">Register Student</span>
                                                            </label>
                                                        </div>
                                                    </div></a>
                                                    <div class="col-lg-3 col-sm-6 col-6">
                                                        <div class="mb-3">
                                                            <label for="mailclient13" class="mailclinet mailclinet-drive">
                                                                <input type="radio" name="emailclient" id="mailclient13">
                                                                <span class="mail-icon">
                                                                    <i class="mdi mdi-office" aria-hidden="true"></i>
                                                                </span>
                                                                <span class="mail-text">Update Profile</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6 col-6">
                                                        <div class="mb-3">
                                                            <label for="mailclient14" class="mailclinet mailclinet-another">
                                                                <input type="radio" name="emailclient" id="mailclient14">
                                                                <span class="mail-icon">
                                                                    <i class="mdi mdi-office" aria-hidden="true"></i>
                                                                </span>
                                                                <span class="mail-text">Login To Confirm</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="skip-email text-center">
                                                            <p>Or if want to skip this step entirely and setup it later</p>
                                                            <a href="">Back To Register Page</a>
                                                        </div>
                                                    </div>
                                                </div>
    
											
										
										</div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock content_body %}
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
      
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
     {% block scripts %}
    <script src="{% static 'pages/vendor/global/global.min.js' %}"></script>

    <script src="{% static 'pages/vendor/jquery-steps/build/jquery.steps.min.js' %}"></script>
    <script src="{% static 'pages/vendor/jquery-validation/jquery.validate.min.js' %}"></script>
    <!-- Form validate init -->
    <script src="{% static 'pages/js/plugins-init/jquery.validate-init.js' %}"></script>


	<!-- Form Steps -->
	<script src="{% static 'pages/vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js' %}"></script>
	<script src="{% static 'pages/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
	
	<script src="{% static 'pages/js/custom.min.js' %}"></script>
	<script src="{% static 'pages/js/dlabnav-init.js' %}"></script>
	<script src="{% static 'pages/js/demo.js' %}"></script>
    <script src="{% static 'pages/js/styleSwitcher.js' %}"></script>
	<script>
		$(document).ready(function(){
			// SmartWizard initialize
			$('#smartwizard').smartWizard(); 
		});
	</script>
    {% endblock scripts %}

</body>

</html>