{% extends 'pages/portal_home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
    {% block title %}
    <title>Teachers Student Count</title>
    {% endblock title %}
    
    {% block favicon %}
    <link href="{% static 'pages/vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'pages/vendor/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
    <link href="{% static 'pages/css/style.css' %}" rel="stylesheet">
    {% endblock favicon %}

</head>

<body>

    <div id="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <div id="main-wrapper">

        {% block content_body %}
        <div class="content-body">
            <div class="container-fluid">              
                
                <div class="row">
                
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" style="color:orangered;"><i class="fa fa-users" aria-hidden="true"></i><span style="color: blueviolet;"> Form Teacher's Students Count</span> </h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example3" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th>S/N</th>
                                                <th>Teacher's Name</th>
                                                <th>Teacher's Phone</th>
                                                <th>Class</th> <th>Total Students</th>                                 
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {# RENDERED TABLE CONTENT WITH REFACTORED VARIABLES #}
                                            {% for teacher in teachers %}
                                                <tr>
                                                    
                                                    <td>{{ forloop.counter}} </td>
                                                    <td><strong>{{ teacher.user.last_name }} </strong>{{ teacher.user.first_name }}</td>
                                                    <td>{{ teacher.phone_home|default:"N/A" }}</td>
                                                    
                                                    <td>
                                                        {% if teacher.assigned_classes %}
                                                            <span class="badge badge-secondary">{{ teacher.assigned_classes }}</span>
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </td>
                                                    
                                                    <td><strong>{{ teacher.total_student_count }}</strong></td>
                                                    
                                                </tr>
                                            {% empty %}
                                                <tr>
                                                    <td colspan="5" class="text-center text-muted">No teachers found.</td>
                                                </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        {% endblock content_body %}
        </div>
    {% block scripts %}
    <script src="{% static 'pages/vendor/global/global.min.js' %}"></script>
    <script src="{% static 'pages/vendor/chart.js/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'pages/vendor/apexchart/apexchart.js' %}"></script>
    
    <script src="{% static 'pages/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'pages/js/plugins-init/datatables.init.js' %}"></script>

    <script src="{% static 'pages/vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>

    <script src="{% static 'pages/js/custom.min.js' %}"></script>
    <script src="{% static 'pages/js/dlabnav-init.js' %}"></script>
    <script src="{% static 'pages/js/demo.js' %}"></script>
    <script src="{% static 'pages/js/styleSwitcher.js' %}"></script>
    {% endblock scripts %}
</body>
</html>